.explore-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.explore-card img {
    max-width: 400px;
    margin-bottom: 10px;
    transform: translateY(0);
    transition: transform 200ms ease-in;
}

.explore-card img:hover {
    transform: translateY(-5px);
}

.explore-card h4 {
    text-align: center;
    font: normal normal 500 22px/32px 'Avenir Medium';
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
    margin-bottom: -5px;
}

.explore-card p {
    text-align: center;
    font: normal normal normal 14px/32px 'Avenir Roman';
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
}

@media screen and (max-width: 700px){
    .explore-card {
        margin-top: 20px;
    }
}
