.glance-card {
    width: 100%;
    position: relative;
    height: 480px;
    margin: 0;
}

.glance-card > .thumbnail {
    position: relative;
    top: 0;
    left: 0;
    max-width: 81%;
    min-width: 900px;
    height: 450px;
    border-radius: 0 5px 5px 0;
}

.glance-card img {
    position: relative;
    top: 0;
    left: 0;
    max-width: 80%;
    min-width: 900px;
    border-radius: 0 5px 5px 0;
}

.description-box {
    background: url("../assets/images/red-box-rt.png") center/cover no-repeat padding-box;
    padding: 1.5rem 3rem;
    max-width: 300px;
    min-width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 250px;
    border-radius: 3px;
    margin-right: 0;
}

.description-box h4 {
    font-size: 3rem;
    font-family: 'New York Small';
    font-weight: 500;
    color: white
}

.description-box p {
    font-size: 0.9rem;
    color: white;
    width: 80%;
    font-family: 'Avenir Roman';
}


@media screen and (max-width: 500px){
    .glance-card > .thumbnail {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        min-width: 100%;
        height: 250px;
    }

    .description-box {
        text-align: center;
        /*right: auto;*/
        left: 1rem;
        bottom: 25px;
        margin: 0 auto;
    }

    .description-box p {
        width: 100%;
    }
}
