.wrapper {
    width: 100%;
    margin-top: 3rem;
    position: relative;
}

.controls {
    position: absolute;
    top: 2rem;
    right: 5rem;
    display: flex;
    width: 100px;
    justify-content: space-around;
    background-color: transparent;
}

.controls button {
    border: none;
    background-color: transparent;
    color: black;
    font-weight: lighter !important;
}

.slide-index-indicators {
    display: flex;
    max-width: 350px;
    justify-content: flex-start;
    list-style-type: none;
    position: absolute;
    left: 4rem;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.slide-index-indicators li {
    height: 6px;
    width: 30px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #DBDBDB;
    border-radius: 5px;
}

.slide-index-indicators li:hover {
    cursor: pointer;
}

.active {
    background-color: #ff0000 !important;
}

.glance-mobile-carousel {
    /*display: none;*/
}

@media screen and (max-width: 425px) {
    .wrapper {
        /*display: none;*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
        padding-bottom: 3rem;
    }

    .glance-mobile-carousel {
        display: block;
    }

    .slide-index-indicators {
        display: none;
    }

    .controls {
        bottom: 20px;
        right: 38%;
        display: flex;
        align-items: flex-end;
    }
}

