.to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 3.3rem;
    right: 1.5rem;
    color: #FFFFFF;
    box-shadow: 0 10px 10px #191919;
    border: none;
    background-color: #E21020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-showdow 300ms ease-in;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.to-top:hover {
    box-shadow: 0 5px 8px #191919;
    transform: translateY(1px);
}

.to-top span {
    font-size: 10px;
    text-transform: uppercase;
}
