.wrapper {
    width: 100%;
    margin: 0;
    background-color: #0A545F;
    opacity: 1;
}

.top-section {
    width: 100%;
}

.top-section p {
    font: normal normal normal 13px/25px 'Avenir Roman';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 2rem 0;
    width: 80%;
}

.top-section h3 {
    text-align: left;
    font: normal normal 900 16px/22px 'Avenir Black';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.useful-links {
    display: flex;
    flex-flow: column wrap;
    /*     align-content: flex-start; */
    /*    font: normal normal 900 13px/22px 'Avenir Medium';*/
    align-items: flex-start;
    align-content: flex-start;
    max-height: 150px;
    min-height: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.useful-links li {
    color: white;
    margin-bottom: 1rem;
    margin-right: 2rem;
    display: inline;
    width: 100px;
    /*font: normal normal normal 16px/25px Avenir;*/
}

.useful-links li a {
    color: white;
    font: normal normal 400 13px/22px 'Avenir Medium';

    /*font-size: 13px;*/
}

.affiliation-section {
    position: relative;
    border-top: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.9rem 0.5rem;
    width: 90%;
    margin: 0 auto;
}

.affiliation-section-label {
    position: absolute;
    top: -1.9rem;
    left: 45%;
    color: white;
    padding: 1rem;
    background-color: #0A545F;
    text-transform: uppercase;
}

.affiliation-section > img {
    opacity: 0.4;
    transition: opacity 200ms ease-in-out;
}

.affiliation-section > img:hover {
    opacity: 1;
}

.copyright-section {
    border-top: 1px solid #aaaaaa;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0.9rem;
}

.logo-wrapper {
    display: inline-block;
    width: 210px;
    height: 80px;
    background-color: transparent;
    position: relative;
    left: 0;
}

.logo-wrapper img {
    width: 210px;
    height: 80px;
}

.news-letter-group {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.news-letter-group input, .news-letter-group button {
    height: 2.8rem;
    border: none;
    padding: .4rem .8rem;
    font-size: 14px;
    outline: none;
}

.news-letter-group input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px 0px 0px 5px;
    opacity: 1;
}

.news-letter-group input:focus {
    border-color: white;
}

.news-letter-group button {
    background: #E21020 0% 0% no-repeat padding-box;
    border-radius: 0px 5px 5px 0px;
    opacity: 1;
    color: white;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .affiliation-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-between;
        align-content: center;
    }

    .affiliation-section-label {
        left: 140px;
    }

    .affiliation-section > img {

    }
}
