.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    min-height: 500px;
    margin: 5rem 0;
}

.heading {
    color: white;
}

.action-button-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 4rem 0;
}

.join-section-button {
    border-color: white !important;
    color: white !important;
    padding-right: 5rem !important;
    padding-left: 5rem !important;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    .action-button-group {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        /*min-height: 200px;*/
    }

    .action-button-group > button {
        margin-bottom: 5rem;
        /*width: 200px;*/
        padding: 0.5rem 0.5rem;
        display: inline-flex;
        justify-content: center;
        width: 80%;
    }

    .join-section-button {
        padding: 10px 2rem !important;
    }
}
