.contact-bar {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    background-color: #E21020;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.contact-bar a {
    display: block;
    width: 100%;
    height: inherit;
    text-align: center;
    color: white;
    font: normal normal 600 16px/25px 'Avenir Next';
    text-transform: capitalize;
}

.navbar-container {
    position: absolute;
    /*position: -webkit-sticky;*/
    top: 25px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1rem 5%;
    height: 90px;
    width: 100%;
    background-color: transparent;
    z-index: 10;
    margin-top: -16px;
}

.logo-wrapper {
    display: inline-block;
    width: 210px;
    height: 80px;
    background-color: transparent;
    position: relative;
    left: 0;
    padding-top: 10px;
}

.logo-wrapper img {
    width: 210px;
    height: 80px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0;
}

.nav-content li {
    list-style: none;
    margin: 0 0.8rem;
}

.nav-content a, .login-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font: normal normal bold 14px/25px 'Avenir Heavy';
}

.login-link {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font: normal normal 400 18px/25px Avenir Next;
    padding: 5px 10px !important;
    border-radius: 5px;
}

.nav-mobile {
    display: none;
}

.nav-drawer {
    display: none;
}

.mobile-search-wrapper {
    display: none;
}

.active-link {
    border-bottom: 4px solid #E21020;
    padding-bottom: 3px;
    border-radius: 3px;
}

@media screen and (max-width: 425px) {
    .contact-bar {
        display: none;
    }

    .navbar-container {
        display: none;
    }

    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #0A545F;
    }

    .nav-mobile .logo-wrapper {
        display: inline-block;
        height: 80px;
        background-color: transparent;
        position: relative;
        left: 0;
    }

    .nav-mobile .logo-wrapper img {
        height: 70px !important;
    }

    .nav-mobile div:last-child span {
        height: 35px;
        width: 3px;
        background-color: white;
    }

    .nav-drawer {
        transform: translateX(-100vw);
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: transform 300ms ease-in;
        margin: 0;
        padding: 0;
        height: 100vh;
        background: rgba(10, 84, 96, 0.8);
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 100;
    }

    .nav-drawer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .nav-drawer-content li {
        list-style: none;
        margin: 0.8rem 0;
    }

    .nav-drawer-content a, .login-link {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font: normal normal 900 16px/25px Avenir;
    }

    .mobile-search-wrapper {
        width: 100%;
        background-color: #0A545F;
        opacity: 0;
        display: none;
        padding: 10px;
        z-index: 99;
        position: fixed;
        top: 80px;
        left: 0;
        transform: translateY(-90px);
        transition: opacity 2s ease-in-out;
    }

    .mobile-search-wrapper input {
        border-radius: 10px;
        background-color: #FFFFFF;
        outline: none;
        border: none;
        color: #191919;
        padding: 0.5rem;
        margin-bottom: 1rem;
        width: 80%;
    }

    .mobile-search-wrapper button {
        border-radius: 10px;
        background-color: #E21020;
        color: white;
        padding: 0.5rem 1.2rem;
        border: none;
        font-weight: 600;
    }
}

@media screen and (min-width: 725px) and (max-width: 1440px) {

}

@media screen and (min-width: 1920px) {
    .navbar-container {
        max-width: 1600px;
        margin: 0 auto;
        top: 0;
        left: auto;
    }
}
