.menu-overlay {
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 85px;
    right: 5rem;
    width: 730px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.menu-container {
    width: 100%;
    padding: 1.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.menu-container span {
    width: 3px;
    border-radius: 3px;
    height: 300px;
    background-color: #191919;
}

.mini-banner {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 2px;
    flex: 60%;
    margin-right: 20px;
    align-self: flex-start;
    margin-top: 2.0rem;
    margin-left: 1.5rem;
}

.mini-banner img {
    width: 100%;
    border-radius: 10px !important;
}

.nav-description {
    font: normal normal normal 12px/20px 'Avenir Medium';
    flex: 20%;
    padding-top: 2.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    margin-right: 1rem;
}

.nav-links {
    flex: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*text-align: left;*/
    margin-left: 1rem;
    align-self: flex-start;
    padding: 2rem 10px;
}

.nav-links a {
    font: normal normal normal 14px/20px 'Avenir Medium';
    color: #191919;
    margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
    .menu-overlay {
        display: none;
    }
}
