@font-face {
    font-family: 'Avenir Black';
    src: url("./assets/fonts/avenir_ff/Avenir-Black-03.ttf");
}

@font-face {
    font-family: 'Avenir BlackOblique';
    src: url("./assets/fonts/avenir_ff/Avenir-BlackOblique-04.ttf");
}

@font-face {
    font-family: 'Avenir Book';
    src: url("./assets/fonts/avenir_ff/Avenir-Book-01.ttf");
}

@font-face {
    font-family: 'Avenir BookOblique';
    src: url("./assets/fonts/avenir_ff/Avenir-BookOblique-02.ttf");
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url("./assets/fonts/avenir_ff/Avenir-Heavy-05.ttf");
}

@font-face {
    font-family: 'Avenir HeavyOblique';
    src: url("./assets/fonts/avenir_ff/Avenir-HeavyOblique-06.ttf");
}

@font-face {
    font-family: 'Avenir Light';
    src: url("./assets/fonts/avenir_ff/Avenir-Light-07.ttf");
}

@font-face {
    font-family: 'Avenir LightOblique';
    src: url("./assets/fonts/avenir_ff/Avenir-LightOblique-08.ttf");
}

@font-face {
    font-family: 'Avenir Medium';
    src: url("./assets/fonts/avenir_ff/Avenir-Medium-09.ttf");
}

@font-face {
    font-family: 'Avenir MediumOblique';
    src: url("./assets/fonts/avenir_ff/Avenir-MediumOblique-10.ttf");
}

@font-face {
    font-family: 'Avenir Oblique';
    src: url("./assets/fonts/avenir_ff/Avenir-Oblique-11.ttf");
}

@font-face {
    font-family: 'Avenir Roman';
    src: url("./assets/fonts/avenir_ff/Avenir-Roman-12.ttf");
}

@font-face {
    font-family: 'New York Small';
    src: url("./assets/fonts/New-York-Font/NewYorkMediumRegular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'New York Small';
    src: url("./assets/fonts/New-York-Font/NewYorkMediumRegularItalic.otf");
    font-weight: 400;
    font-style: italic;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*position: ;*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page-main-heading-section, .page-sub-heading-section {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-main-heading-section {
    width: 60%;
}

.page-sub-heading-section {
    width: 35%;
    margin: 0 auto;
}

.page-main-heading-section h2, .page-sub-heading-section h3 {
    font: italic normal normal 30px/32px 'New York Small';
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
    margin: 0;
}

.nav-drawer-open {
    transform: translateX(0) !important;
}

.search-mobile-open {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    transform: translateY(0) !important;
    opacity: 0.9 !important;
}

.carousel-indicators {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    text-align: left;
    padding-left: 5rem;
    justify-content: flex-start;
}

.carousel-inner {
    /*opacity: 0.3;*/
    height: 612px;
    margin: 0;
    padding: 0;
}

.carousel-indicators li {
    height: 5px;
    border-radius: 5px !important;
    background-color: #FFFFFF;
    opacity: 1;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.carousel-indicators li.active {
    background-color: #E21020;
}

a.link-button {
    text-decoration: none;
}

.overlaid {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 425px) {
    .page-main-heading-section {
        width: 90%;
    }

    .page-sub-heading-section {
        width: 80%;
    }

    .page-main-heading-section h2, .page-sub-heading-section h3 {
        text-align: center;
    }

    .carousel-indicators {
        /*text-align: right;*/
        /*justify-content: center;*/
    }

    .carousel-inner {
        height: 350px;
    }

    .carousel-item {
        background-color: black;
        height: 350px;
        overflow-x: hidden;
    }

    .carousel-item img {
        height: 350px;
        width: auto;
    }
}

@media screen and (min-width: 1920px) {
    body {
        max-width: 1600px;
        margin: 0 auto;
    }
}
